[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
python-dotenv = "*"
authlib = "*"
requests = "*"
simple-chalk = "*"
pyinquirer = "*"
pyfiglet = "*"
tqdm = "*"
progress = "*"

[dev-packages]

[requires]
python_version = "3.9"
